.sidebarPushable{
position: fixed !important;
 top: 0px !important;
 right: 0px !important;
 Height: 100vh !important;
 width: 100vw !important;
 background: transparent !important;
}

.modalCartHeader{
    width: 100%;
    background-color: #009688;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 10px;
    padding-left: 20px;
    color: white;
}

.modalCartHeaderFirstP{
  font-size: 25px;
  margin: 0 !important;
  padding-bottom: 5px;
}

.modalCartHeader div{
    display: flex;
}

.modalCartFooter{
    width: 100%;
    background-color: #009688;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.modalCartFooter div{
    width: 100%;
    padding: 10px 25px;
    padding-bottom: 0px !important;
    display: flex;
    justify-content: space-between;
}

.a{
    position: fixed !important;
}

.paymentButton{
    margin-bottom: 10px !important;
    border-radius: 20px !important;
    color: black !important;
    font-size: 15px !important;
    width: calc(100% - 50px);
    background-color: white !important;
}


.cartItemContainer {
    flex-grow: 1; /* Permite que el contenedor ocupe todo el espacio disponible */
    overflow-y: auto; /* Habilita el scroll cuando sea necesario */
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espacio entre los items */
  }

  .modal {
    width: auto !important;
    display: flex !important;
    padding-bottom: 0 !important;
    align-items: center !important;
    justify-content: center !important;
  }
  
  .ui.button:not(.icon)>.icon:not(.button):not(.dropdown){
    margin: 0 !important;
  }
  
  @media (max-width: 550px) {
    .modal {
      max-width: calc(100% - 50px) !important;
    }
  }
  
  @media (min-width: 700px) {
    .menu-elements__Button__Carrito{
      display: none !important;
    }
  
    .menu-elements__Button__Carrito + .menu-modal__divider{
      display: none !important;
    }
  } 

  .closeIconNavCart{
  margin-bottom: 5px !important;
}