

@media (max-width: 500px) {
    button.svelte-h6o0kp .text-container-3G8mVl.svelte-h6o0kp{
        font-size: 12px !important;
    }

    button.svelte-h6o0kp.svelte-h6o0kp{
        min-width: 180px !important;
    }

    .ui.button{
        font-size: 12px !important;
        min-width: 10px !important;

    }
  }


  .selected-button{
    background-color: #009688 !important;
    color: white !important;
    border-color: #009688 !important;
    
  }

